body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5f5;
  text-transform: uppercase;
  padding: 20px;
  font-weight: 595;
  font-size: 13px;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

#details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

#cardholder-container {
  flex: 2; 
}

#exp-container {
  flex: 1; 
}

#exp-inputs {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

#form-container {
  display: grid;
  grid-template-areas: 
  "front back" 
  ". button";
  gap: 20px;
  position: relative;
  width: 500px;
  margin: 0 auto;
}

#card-front, #card-back {
  background-color: #d3d3d3;
  border-radius: 4px;
  padding: 20px;
  width: 270px;
  height: 150px;
}

#card-front {
  grid-area: front;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

#card-back {
  grid-area: back;
  position: absolute;
  top: 38px;
  right: 110px;
  z-index: 1;
}

#card-stripe {
  background-color: #3d3d3d;
  height: 35px;
  margin-left: auto;
  width: 107%;
  margin-top: -6px;
}

#card-btn {
  grid-area: button;
  background-color: #e8e5e5;
  border: 2px solid #000;
  padding: 10px 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 220px;
  width: 70px;
  margin-left: 180px;
  font-size: 12px;
  font-weight: 550;
}

#image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input {
  padding: 3px;
  border: 0.8px solid black;
  margin-bottom: 15px;
  font-size: 12px;
}

#exp-container input{
  width: 48%;
}

#cvc-container {
  position: absolute;
  bottom: 17px;   
  right: 17px;   
  text-align: left;
  display: flex;
  flex-direction: column; 
}

#cvc-container input {
  width: 40px;       
}

#card-number {
  width: 97%;
}