@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
    --primary-color: #1b98e0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Patrick Hand", cursive;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: white;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer .social img {
    width: 30px;
    height: 30px;
}

.logo {
    display: flex;
    font-family: var(--secondary-font);               
    align-items: center;         
    justify-content: center;                     
}

.logo h1 {
    font-size: 3.5em;
    font-weight: 100;
}

.logo img {
    width: 80px;                 
    height: auto;
    margin-bottom: 37px;
}

.search {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1.1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search form {
    display: flex;
    max-width: 350px;
    align-items: stretch;  
    border: 1.5px solid var(--text-dark);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}

.search input {
    flex: 1;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    font-size: 1rem;
    outline: none;
    font-size: 20px;
}

.search button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-left: 3px solid var(--text-dark);
}

.search button img {
    width: 2.2em;
    height: auto;
}

.recipe {
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    border-radius: 5px;
    border: 1.5px solid var(--text-dark);
    background-color: #fff;
    max-width: 350px;
    margin: 0rem auto;
}

.recipe img {
    max-width: 100%;
    height: auto;
}

.tag {
    border: 1.5px solid var(--text-dark);
    margin-top: 5px;
    padding: 5px;
    margin-right: 280px;
    font-weight: bold;
}

.recipe h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 35px;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}

.recipe .rating {
    margin-top: 0rem;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0;
}

.recipe .description {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

@media (max-width: 600px) {
    .recipe .description {
        display: none;
    }
}

